# =========================
# Node / Package managers
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build outputs
# =========================
dist/
lib/
release/
solution/
temp/
coverage/
*.sppkg
.heft

# =========================
# Angular
# =========================
.angular/
.cache/

# =========================
# SPFx generated
# =========================
*.resx.ts
*.scss.ts

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Visual Studio / VS Code
# =========================
.vs/
bin/
obj/
.ntvs_analysis.dat

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local
